.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
}

.search {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 auto; */
}

#drop {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  height: 35px;
  border-radius: 5px;
  margin-right: 20px;
}

#drop2 {
  font-size: 25px;
  background-color: rgba(16, 140, 255, 0);
  color: rgb(255, 255, 255);
  height: 30px;
  width: 50px;
  border-radius: 4px;
  margin-right: 20px;
}

#button {
  font-size: 20px;
  background: linear-gradient(160deg,  rgb(36, 62, 110)10%,#3acbdf  90%);
  text-shadow: 2px 2px 2px black;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(92, 91, 91);
  align-items: center;
}

#flexy{
  justify-content: center;
  display: flex;
}